{{#t-header}}
  {{#t-header-nav}}
    {{#t-header-nav-item}}
      {{link-to 'ember-tachyons' class="link dim black"}}
    {{/t-header-nav-item}}
  {{/t-header-nav}}
  {{#t-header-nav-right}}
    {{#t-header-nav-item}}
      {{link-to 'docs' class="link dim black"}}
    {{/t-header-nav-item}}
    {{#t-header-nav-item}}
      <a href="https://github.com/johnotander/ember-tachyons" class="link dim black">github</a>
    {{/t-header-nav-item}}
  {{/t-header-nav-right}}
{{/t-header}}

<hr class="bb bw1 b--black-10 mv5">

{{#t-card class="mw6 ma3 center"}}
  <h3 class="ma0 pa0">Hello, I'm a <code class="o-80">t-card</code></h3>
  <p class="f6 f5-ns lh-copy measure">
    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
    tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
    vero eos et accusam et justo duo dolores et ea rebum.
  </p>
{{/t-card}}

<hr class="bb bw1 b--black-10 mv5">

{{#t-profile-card class="mw6 ma3 center cf"}}
  {{#t-profile-card-avatar class="fl w-25"}}
    {{gravatar-image email="johnotander@gmail.com" class="br-100 h3 w3"}}
  {{/t-profile-card-avatar}}
  {{#t-profile-card-name class="fl w-75"}}
    John Otander
  {{/t-profile-card-name}}
  {{#t-profile-card-description class="fl w-75"}}
    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
    tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
  {{/t-profile-card-description}}
{{/t-profile-card}}

<hr class="bb bw1 b--black-10 mv5">

{{#t-profile-card class="mw5 ma3 center tc"}}
  {{#t-profile-card-avatar}}
    {{gravatar-image email="johnotander@gmail.com" class="br-100 h3 w3"}}
  {{/t-profile-card-avatar}}
  <hr class="mw3 bb bw1 b--black-10 mt3">
  {{#t-profile-card-name class="pv3"}}
    John Otander
  {{/t-profile-card-name}}
  {{#t-profile-card-description}}
    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
    tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
  {{/t-profile-card-description}}
{{/t-profile-card}}

<hr class="bb bw1 b--black-10 mv5">

{{#t-flag-object class="mw7 center"}}
  {{#t-flag-object-image}}
    <img src="http://tachyons.io/img/super-wide.jpg" alt="A bright blue sky" class="mw5" />
  {{/t-flag-object-image}}
  {{#t-flag-object-body}}
    This text is vertically aligned middle, no matter what the height of the image is.
  {{/t-flag-object-body}}
{{/t-flag-object}}

<hr class="bb bw1 b--black-10 mv5">

{{#t-flag-object class="mw7 center"}}
  {{#t-flag-object-body}}
    This text is vertically aligned middle, no matter what the height of the image is.
  {{/t-flag-object-body}}
  {{#t-flag-object-image}}
    <img src="http://tachyons.io/img/super-wide.jpg" alt="A bright blue sky" class="mw5" />
  {{/t-flag-object-image}}
{{/t-flag-object}}

<hr class="bb bw1 b--black-10 mv5">

{{#t-measure class="center"}}
  <article>
    <h1 class="">Title</h1>
    <p class="lh-copy">
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
      tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
      vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
      no sea takimata sanctus est Lorem ipsum dolor sit amet.
    </p>
    <p class="lh-copy">
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
      tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
      vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
      no sea takimata sanctus est Lorem ipsum dolor sit amet.
    </p>
  </article>
{{/t-measure}}

{{outlet}}
